{% extends 'main.html' %} {% load static %} {% block content %}
<!-- -->
<section class="about">
  <div class="about-left">
    <h1>
      <div class="overflow">
        <div class="transition1">About</div>
        <div class="transition1">Us</div>
      </div>
    </h1>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Suscipit
      perferendis, quas autem est quos ex labore dignissimos officiis dolores ad
      eligendi earum incidunt minus deserunt. Ut adipisci dignissimos
      consectetur est?
    </p>
    <span class="about-name">-Jappreet Singh</span>
    <br />
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Suscipit
      perferendis, quas autem est quos ex labore dignissimos officiis dolores ad
      eligendi earum incidunt minus deserunt. Ut adipisci dignissimos
      consectetur est?
    </p>
    <span class="about-name">-Hussain Lohawala</span>
    <br />
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Suscipit
      perferendis, quas autem est quos ex labore dignissimos officiis dolores ad
      eligendi earum incidunt minus deserunt. Ut adipisci dignissimos
      consectetur est?
    </p>
    <span class="about-name">-Yogesh Kachhawa</span>
  </div>
  <div class="about-right picture-lib">
    <div class="img-box">
      <div class="img-box-container">
        <div class="img">
          <div class="img-dot"></div>
          <img src="../static/img/jappreet.jpg" alt="image of jappreet" />
        </div>
        <div class="img-content">Yogesh Kachhawa</div>
      </div>
    </div>
    <div class="img-box">
      <div class="img-box-container">
        <div class="img">
          <div class="img-dot"></div>
          <img src="../static/img/hussain.jpg" alt="image of jappreet" />
        </div>
        <div class="img-content">Hussain Lohawala</div>
      </div>
    </div>
    <div class="img-box">
      <div class="img-box-container">
        <div class="img">
          <div class="img-dot"></div>
          <img src="../static/img/jappreet.jpg" alt="image of jappreet" />
        </div>
        <div class="img-content">Jappreet Singh</div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
