{% extends 'main.html' %} {% load static %} {% block content %}
<!-- -->
<section class="about">
  <div class="about-left">
    <h1>About Us</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Suscipit
      perferendis, quas autem est quos ex labore dignissimos officiis dolores ad
      eligendi earum incidunt minus deserunt. Ut adipisci dignissimos
      consectetur est?
    </p>
    <span class="about-name">-Jappreet Singh</span>
    <br />
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Suscipit
      perferendis, quas autem est quos ex labore dignissimos officiis dolores ad
      eligendi earum incidunt minus deserunt. Ut adipisci dignissimos
      consectetur est?
    </p>
    <span class="about-name">-Hussain Lohawala</span>
    <br />
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Suscipit
      perferendis, quas autem est quos ex labore dignissimos officiis dolores ad
      eligendi earum incidunt minus deserunt. Ut adipisci dignissimos
      consectetur est?
    </p>
    <span class="about-name">-Yogesh Kachhawa</span>
  </div>
  <div class="about-right">
    <div></div>
    <div></div>
  </div>
</section>
{% endblock content %}
