{% extends 'main.html' %} {% load static %} {% block content %}
<!--revealAnimation-->
<div class="loader">
  <div class="loader-clip clip-top">
    <div class="marquee">
      <div class="marquee-container">
        <span>Wordle</span>
        <span>Wordle</span>
        Wordle
        <span>Wordle</span>
        <span>Wordle</span>
      </div>
    </div>
  </div>
  <div class="loader-clip clip-bottom">
    <div class="marquee">
      <div class="marquee-container">
        <span>Wordle</span>
        <span>Wordle</span>
        Wordle
        <span>Wordle</span>
        <span>Wordle</span>
      </div>
    </div>
  </div>
  <div class="clip-center">
    <div class="marquee">
      <div class="marquee-container">
        <span>Wordle</span>
        <span>Wordle</span>
        Wordle
        <span>Wordle</span>
        <span>Wordle</span>
      </div>
    </div>
  </div>
  <div class="loader-container">
    <div class="loader-container--left">
      full innovative game <br />made by university students
    </div>
    <div class="loader-container--right">wordle&copy; 2023</div>
  </div>
</div>
<section class="intro">
  <div class="intro-left">
    <h1>what is wordle</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Suscipit
      perferendis, quas autem est quos ex labore dignissimos officiis dolores ad
      eligendi earum incidunt minus deserunt. Ut adipisci dignissimos
      consectetur est?
    </p>
    <br />
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Suscipit
      perferendis, quas autem est quos ex labore dignissimos officiis dolores ad
      eligendi earum incidunt minus deserunt. Ut adipisci dignissimos
      consectetur est?
    </p>
    <br />
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Suscipit
      perferendis, quas autem est quos ex labore dignissimos officiis dolores ad
      eligendi earum incidunt minus deserunt. Ut adipisci dignissimos
      consectetur est?
    </p>
  </div>
  <div class="intro-right">
    <ul class="wordle-container animate">
      <li>W</li>
      <li>O</li>
      <li>R</li>
      <li>D</li>
      <li>L</li>
      <li>E</li>
    </ul>
  </div>
</section>

{% endblock content %}
