<nav id="swup-content">
  <div class="logo"><span></span> <span></span></div>
  <div>
    <a class="hover-anchor" href="{% url 'home' %}"><h2>Home</h2></a>
    <a class="hover-anchor" href="{% url 'about' %}"><h2>About</h2></a>
    <a class="hover-anchor" href="{% url 'rules' %}"><h2>Help</h2></a>
    <a class="hover-anchor" href="https://wordlev1.vercel.app/"
      ><h2>Game</h2></a
    >
    {% if user.is_authenticated %}
    <a class="hover-anchor" href="{% url 'profile' %}"><h2>Profile</h2></a>
    <a class="hover-anchor" href="{% url 'logout' %}"><h2>Logout</h2></a>
    {% else %}
    <a class="hover-anchor" href="{% url 'login' %}"><h2>Login</h2></a>
    {% endif %}
  </div>
</nav>
