{% extends 'main.html' %} {% load static %}
<!--  -->
{% block title %} Welcome To Blog {% endblock %} {% block content %}

<section class="profile">
  <div class="profile-left">
    <div>
      <h1>
        <div class="overflow">
          <div class="transition1">your</div>
          <div class="transition1">profile</div>
        </div>
      </h1>
      <p><strong>User: </strong> {{profile.user}}</p>
      <p><strong>Username: </strong> {{profile.username}}</p>
      <p><strong>Name: </strong> {{profile.name}}</p>
      <p><strong>Email: </strong> {{profile.email}}</p>
      <p><strong>Bio: </strong> {{profile.bio}}</p>
    </div>
    <br />
    <div>
      <a class="hover-anchor" href="{% url 'edit-profile' %}"
        ><h2>Edit Profile</h2></a
      >
    </div>
  </div>
  <div class="profile-right">
    <div class="overflow">
      <div class="highest">
        <div class="overflow-2">
          <p><strong>Created: </strong> {{profile.created}}</p>
        </div>
      </div>
    </div>
    <div class="overflow">
      <div class="last-create">
        <div class="overflow-2">
          <p><strong>Highscore: </strong> {{score.highscore}} streak</p>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock content %}
