{% extends 'main.html' %} {% block content %}

<!-- Main Section -->
<section class="signupin">
  <div class="signupin-container">
    <div class="signupin__heading">
      <h4>
        <div class="overflow">
          <div class="signupin__heading--sub transition1">Edit</div>
          <div class="signupin__heading--sub transition1">Your</div>
        </div>
      </h4>
      <h1>
        <div class="overflow">
          <div class="transition1">profile</div>
        </div>
      </h1>
      <p class="signupin__heading--salute">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magni qui quia
        voluptatem blanptatibus omnis nemo sequi commodi id totam adipisci.
      </p>
    </div>
    <div class="forms">
      <form
        method="POST"
        class="form"
        enctype="multipart/form-data"
        data-swup-form
      >
        {% csrf_token %} {% for field in form %}
        <div class="form--field">
          <div class="form--field-embed">
            <label class="form--label">{{field.label}}</label>
            {{field}}
          </div>
        </div>
        {% for error in field.errors %}
        <span style="color: red" class="field--errors">{{error}}</span>
        {% endfor %} {% endfor %}

        <span class="btn--wrapper">
          <button class="action-btn" type="submit">Edit Profile</button>
        </span>
      </form>
    </div>
  </div>
</section>

{% endblock content %}
