{% extends 'main.html' %} {% load static %} {% block content %}
<!-- -->
<section class="rules">
  <div class="rules-left">
    <h1>
      <div class="overflow">
        <div class="transition1">How's</div>
        <div class="transition1">It</div>
        <div class="transition1">Played</div>
      </div>
    </h1>
    <p>
      <strong>Rule 1:</strong>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Suscipit
      perferendis, quas autem est quos ex
    </p>
    <br />
    <p>
      <strong>Rule 2:</strong>
      Labore dignissimos officiis dolores ad eligendi earum incidunt minus
      deserunt. Ut adipisci dignissimos est?
    </p>
    <br />
    <p>
      <strong>Rule 3:</strong>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Suscipit
      perferendis, quas autem est quos ex
    </p>
    <br />
    <p>
      <strong>Rule 4:</strong>
      Labore dignissimos officiis dolores ad eligendi earum incidunt minus
      deserunt. Ut adipisci dignissimos est?
    </p>
    <br />
    <p>
      <strong>Rule 5:</strong>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Suscipit
      perferendis, quas autem est quos ex
    </p>
    <br />
    <p>
      <strong>Rule 6:</strong>
      Labore dignissimos officiis dolores ad eligendi earum incidunt minus
      deserunt. Ut adipisci dignissimos est?
    </p>
  </div>
  <div class="rules-right">
    <div class="sample1"></div>
    <div class="sample2"></div>
  </div>
</section>
{% endblock content %}
