{% extends 'main.html' %} {% load static %} {% block content %}
<!-- -->
<section class="rules">
  <div class="rules-left">
    <h1>
      <div class="overflow">
        <div class="transition1">How's</div>
        <div class="transition1">It</div>
        <div class="transition1">Played</div>
      </div>
    </h1>
    <p>
      <strong>Rule 1:</strong>

      Guess a five-letter word by entering your guess into the game interface.
    </p>
    <br />
    <p>
      <strong>Rule 2:</strong>
      After each guess, the game will display the feedback colors to help you
      narrow down the correct word.
    </p>
    <br />
    <p>
      <strong>Rule 3:</strong>

      You have a maximum of six attempts to guess the word correctly.
    </p>
    <br />
    <p>
      <strong>Rule 4:</strong>
      Use the feedback from each guess to deduce the correct letters and their
      positions in the word.
    </p>
    <br />
    <p>
      <strong>Rule 5:</strong>
      Eliminate letters that are not in the correct positions or not in the word
      at all based on the feedback.
    </p>
    <br />
    <p>
      <strong>Rule 6:</strong>
      he game is won when you guess the correct word within the given number of
      attempts.
    </p>
  </div>
  <div class="rules-right">
    <div class="sample1">
      <a target="_blank" href="https://en.wikipedia.org/wiki/Wordle"
        >Read More</a
      >
      <img src="{% static 'img/gif1.gif' %}" alt="profile gif" />
    </div>
    <div class="sample2">
      <a href="{% url 'profile' %}">Profile</a>
      <img src="{% static 'img/gif2.gif' %}" alt="wordle gif" />
    </div>
  </div>
</section>
{% endblock content %}
