{% extends 'main.html' %}
<!--  -->
{%load widget_tweaks %}
<!--  -->
{% block title %} {{ page }} {% endblock %} {% block content %}

<section class="signupin">
  <div class="signupin-container">
    <div class="signupin__heading">
      <h4>
        <div class="overflow">
          <div class="signupin__heading--sub transition1">Your</div>
          <div class="signupin__heading--sub transition1">Account</div>
        </div>
      </h4>
      <h1>
        <div class="overflow">
          <div class="transition1">{{page}}</div>
        </div>
      </h1>
      <p class="signupin__heading--salute">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magni qui quia
        voluptatem blanptatibus omnis nemo sequi commodi id totam adipisci.
      </p>
    </div>
    <!-- Sign Up Form -->

    <div class="forms">
      {% if page == 'register' %}
      <form method="POST" class="form" autocomplete="off" data-swup-form>
        {% csrf_token %}
        <!--  -->
        {% for field in form %}
        <div class="form--field">
          <div class="form--field-embed">
            <label class="form--label">{{field.label}}</label>
            {% render_field field %}
          </div>
        </div>
        {% for error in field.errors %}
        <span style="color: red" class="field--errors">{{error}}</span>
        {% endfor %} {% endfor %}

        <button class="action-btn" type="submit">Register</button>
        <div class="form--switch">
          Already have an account? <a href="{% url 'login' %}">Sign In</a>
        </div>
      </form>

      {% else %}
      <!-- Sign In Form -->

      <form
        method="POST"
        class="form"
        id="login"
        autocompletete="off"
        data-swup-form
      >
        {% csrf_token %} {% for field in form %}
        <div class="form--field">
          <div class="form--field-embed">
            <label class="form--label">{{field.label}}</label>
            {% render_field field class="" %}
          </div>
        </div>
        {% for error in field.errors %}
        <span style="color: red" class="field--errors">{{error}}</span>
        {% endfor %} {% endfor %}
        <!--  -->
        <button class="action-btn" type="submit">Login</button>
        <div class="form--switch">
          Don't have an account? <a href="{% url 'register' %}">Sign Up</a>
        </div>
      </form>

      {% endif %}
    </div>
  </div>
</section>

{% endblock content %}
