.about,
.rules {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5vw;
  gap: 5vw;
  &-left {
    flex: 50%;
    height: 100%;
    display: flex;
    align-items: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    .about-name {
      margin-top: 0.5vh;
      margin-left: auto;
      font-weight: 1000;
      font-family: "Moresby";
      z-index: 0;
    }
    h1 {
      margin-bottom: 3vh;
      position: relative;
      z-index: 2;
    }
    p {
      position: relative;
      z-index: 2;
      font-size: 1.4vw;
      strong {
        font-family: "Monteral-B";
        font-size: 1.6vw;
      }
    }
  }
  &-right {
    flex: 50%;
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    position: relative;
    .sample1 {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-60%, -50%);
      border: 2px solid black;
      height: 50vh;
      width: 20vw;
      background-color: white;
      z-index: 2;
    }
    .sample2 {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-20%, -30%);
      border: 2px solid black;
      height: 50vh;
      width: 20vw;
      background-color: white;
      z-index: 3;
    }
  }
}
.img-box {
  width: 20vw;
  height: 50vh;
  position: absolute;
  top: 50%;
  left: 50%;

  &:nth-of-type(1) {
    transform: translate(-50%, -50%) rotate(7deg);
  }

  &:nth-of-type(2) {
    transform: translate(-50%, -50%) rotate(-7deg);
  }
  &:nth-of-type(3) {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  &-container {
    display: flex;
    align-items: stretch;
    justify-content: stretch;
    flex-direction: column;
    height: 100%;
    width: 100%;
    gap: 0px;
    background-color: white;
    text-transform: capitalize;
    border: 2px solid black;
    overflow: hidden;
    .img {
      height: 85%;
      overflow: hidden;
      position: relative;
      &-dot {
        height: 50vh;
        width: 20vw;
        background-image: radial-gradient(#000 10%, transparent 20%),
          radial-gradient(#000 10%, transparent 20%);
        background-position: 0 0, 10px 10px;
        background-size: 5px 5px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      img {
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
      }
    }
    .img-content {
      font-size: 1.2vw;
      font-weight: 1000;
      display: inline-block;
      width: 100%;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 15%;
      font-family: "Moresby";
    }
  }
}
